<div class="card">
  <mat-card class="mat-card">
    <mat-card-header>
      <div>
        <mat-label>Title: </mat-label>
        <mat-card-title>{{ post?.title }}</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-header>
      <div>
        <mat-label>Body: </mat-label>
        <mat-card-content>{{ post?.body }}</mat-card-content>
      </div>
    </mat-card-header>
  </mat-card>
</div>
<div>
  <mat-card class="mat-card">
    <mat-card-header>
      <div>
        <mat-label>Name: </mat-label>
        <mat-card-title>{{ user?.name }}</mat-card-title>
      </div>
      <div>
        <mat-label>Email: </mat-label>
        <mat-card-content>{{ user?.email }}</mat-card-content>
      </div>
      <div>
        <mat-label>Gender: </mat-label>
        <mat-card-content>{{ user?.gender }}</mat-card-content>
      </div>
    </mat-card-header>
  </mat-card>
</div>

<!-- <div class="background">
  <mat-card class="mat-card" *ngFor="let comment of commentDetail">
    <mat-card-header>
      <div>
        <mat-label>Name: </mat-label>
        <mat-card-title>{{ comment.name }}</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-header>
      <div>
        <mat-label>Body: </mat-label>
        <mat-card-content>{{ comment.body }}</mat-card-content>
      </div>
    </mat-card-header>
  </mat-card>
</div> -->

<section style="background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);" *ngFor="let comment of commentDetail">
  <div class="row d-flex justify-content-center">
    <h1>Comments:- </h1></div>
  <div class="container my-1 py-5 text-dark">
    <div class="row d-flex justify-content-left">
      <div class="col-md-11 col-lg-9 col-xl-7">
        <div class="d-flex flex-start mb-4">
          <div class="card w-100">
            <div class="card-body p-4">
              <div class="">
                <h3>{{ comment.name }}</h3>
                <p>
                  {{ comment.body }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="go-back">
  <button type="button" class="btn btn-primary" (click)="goBack()">Go Back</button>
</div>


